@using Talaryon.Toolbox.Services.Directus
@using Talaryon.WebKit.Models
@using Talaryon.WebKit.Services.WebKit
@rendermode InteractiveAuto
@inject IDirectus Directus
@inject IWebKit WebKit
@code {
    [Parameter]
    public string? Id { get; set; }
    
    private readonly List<WebKitBreadcrumbItem> _breadcrumbItems = [];
    
    private DirectusBlogPost _model = new();
    private bool _initialized;
    
    protected override async Task OnParametersSetAsync()
    {
        _initialized = false;
        _breadcrumbItems.Clear();
        _model = await WebKit.GetBlogPost(Id) ?? _model;
        
        _breadcrumbItems.AddRange(new List<WebKitBreadcrumbItem>
        {
            new("Blog", "/blog"),
            new() { Name = _model.Title }
        });
        _initialized = true;
    }
}

<WebKitMeta Title="@_model.Title" Description="@_model.Teaser" Image="@_model.Image?.Id"/>
<WebKitContent IsLoading="!_initialized">
    <WebKitBreadcrumbs Items="_breadcrumbItems"/>

    <div class="pb-10">
        <div class="text-2xl lg:text-4xl pb-5">@_model.Title</div>
        @if (_model.Image is { Id: not null })
        {
            <figure class="pb-5">
                <img src="@Directus.GetAssetUrl(_model.Image.Id)" alt="@_model.Image.Id">
            </figure>
        }
        <div class="italic pb-5 text-right">
            @_model.DateScheduled.ToString("dd.MM.yyyy HH:mm")
        </div>
        <div class="font-bold pb-5">
            @_model.Teaser
        </div>
        <article class="prose max-w-none break-words">
            @((MarkupString)_model.Content!)
        </article>
    </div>
    
</WebKitContent>