@using Microsoft.AspNetCore.Diagnostics
@using Microsoft.AspNetCore.Http
@using Talaryon.Toolbox.Extensions
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager NavigationManager
@code {
    
    [Parameter]
    public string? Code { get; set; }
    
    [Parameter]
    public string? Url { get; set; }
    
    private IStatusCodeReExecuteFeature? _statusCodeReExecuteFeature;
    private string? _baseUri;
    
    protected override void OnInitialized()
    {
        _statusCodeReExecuteFeature = HttpContextAccessor.HttpContext?.Features.Get<IStatusCodeReExecuteFeature>();
        _baseUri = NavigationManager.BaseUri;
    }
}

<div class="mockup-code text-lg">
    @switch (Code)
    {
        case "404":
            <pre data-prefix=">" class="text-accent">Looking for @(_statusCodeReExecuteFeature?.OriginalPath ?? Url?.FromBase64String()) ...</pre>
            <pre data-prefix=">" class="text-accent">...</pre>
            <pre data-prefix=">" class="text-warning">Wait? What? I can't find anything at this path ...</pre>
            <pre data-prefix=">" class="text-warning">I got the following error:</pre>
            <pre data-prefix=">" class="text-error"><b>404 Not Found.</b></pre>
            <pre data-prefix=">" class="text-accent">I'm sorry, but I'm not able to deliver you the requested page.</pre>
            <pre data-prefix=">" class="text-accent">Maybe you want to start at <a href="/" class="link link-hover">@_baseUri</a>?</pre>
            break;
        case "403":
            <pre data-prefix=">" class="text-accent">Trying to access the following resource ...</pre>
            <pre data-prefix=">" class="text-accent">...</pre>
            <pre data-prefix=">" class="text-warning">Hmm. Looks like you are not allowed to access the requested resource.</pre>
            <pre data-prefix=">" class="text-warning">I got the following error:</pre>
            <pre data-prefix=">" class="text-error"><b>403 Forbidden.</b></pre>
            <pre data-prefix=">" class="text-accent">I'm sorry, but I'm not able to deliver you the requested resource.</pre>
            <pre data-prefix=">" class="text-accent">Maybe you want to start at <a href="/" class="link link-hover">@_baseUri</a>?</pre>
            break;
        default:
            <pre data-prefix=">" class="text-warning">Oh!?</pre>
            <pre data-prefix=">" class="text-warning">Don't know what happened to me ...</pre>
            <pre data-prefix=">" class="text-error">I got the following error code: @Code</pre>
            <pre data-prefix=">" class="text-accent">Want to try something new?</pre>
            <pre data-prefix=">" class="text-accent">Maybe you want to travel to <a href="/" class="link link-hover">@_baseUri</a>?</pre>
            break;
    }
</div>